@font-face {
 font-family: 'Koruri Regular'; font-weight: 400;
 src: local('Koruri Ragular'), local('Koruri-Regular'), url(../font/Koruri-Regular.eot?#iefix) format('embedded-opentype'), url(../font/Koruri-Regular.woff) format('woff'), url(../font/Koruri-Regular.ttf) format('truetype');
}

body {
 font-family: "Koruri Regular" !important;
}
h2.heading {
	position: relative;
	padding: 2px 5px 2px 37px;
	font-size: 20px;
	color: #474747;
	background: none;
	border-bottom: 1px solid #ffd98a;
}
h2.heading:before {
	font-family: FontAwesome;
	content: "\f0c1";
	display: inline-block;
	line-height: 40px;
	position: absolute;
	padding: 0em;
	color: white;
	background: #ffa337;
	font-weight: normal;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	left: -12px;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border: solid 3px white;
	border-radius: 50%;
}
.text-center {
  font-size: 30px;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-brand {
  color: #fff;
}
.row {
  padding-top: 30px;
}
.card-body {
  padding: 10px;
}
.crypto-w {
  border:none;
  height:125px;
  width: 100%;
  max-width: 500px;
}
@media (max-width: 1200px){
.crypto-w {
  border: none;
  height: 125px;
  width: 230px;
}
}
@media (max-width: 576px){
.crypto-w {
  border: none;
  height: 125px;
  width: 100%;
  max-width: 500px;
}
}
