@font-face {
 font-family: 'Koruri Regular'; font-weight: 400;
 src: local('Koruri Ragular'), local('Koruri-Regular'), url(../font/Koruri-Regular.eot?#iefix) format('embedded-opentype'), url(../font/Koruri-Regular.woff) format('woff'), url(../font/Koruri-Regular.ttf) format('truetype');
}

body {
 font-family: "Koruri Regular" !important;
}
.container-fluid {
  background-color: #F4F4F2;
}
h2.heading {
	position: relative;
	padding: 2px 5px 2px 37px;
	font-size: 30px;
	color: #474747;
	background: none;
	border-bottom: 1px solid #ffd98a;
}
h2.heading:before {
	font-family: FontAwesome;
	content: "\f0c1";
	display: inline-block;
	line-height: 40px;
	position: absolute;
	padding: 0em;
	color: white;
	background: #ffa337;
	font-weight: normal;
	width: 40px;
	text-align: center;
	height: 40px;
	line-height: 40px;
	left: -12px;
	top: 50%;
	-moz-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	border: solid 3px white;
	border-radius: 50%;
}
h3.widget {
  position: relative;
  font-size: 20px;
  color: #fff;
  margin-top: 10px;
  margin-bottom: 0px;
  padding-left: 1.2em;
  line-height: 1.4;
  padding: 0.5em;
  background: #58656e;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.23);
}

h3.widget:before {
  font-family: FontAwesome;
  content: "\f023";
  font-size: 1em;
  left: 0;
  top: 0;
  color: #fff;
}
.mark1{
  background: linear-gradient(transparent 0%, #f6ff5f 0%);
}
.top-one{
  max-width: 800px;
  width:100%;
}
.top-text {
  margin-left: 30px;
  margin-left: 30px;
  font-size: 25px;
  text-align: center;
}
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}
.navbar-brand {
  color: #fff;
}
.row-top {
  padding-top: 30px;
}
.card-body {
  padding: 10px;
}
.crypto-w {
  border:none;
  height:125px;
  width: 100%;
  max-width: 500px;
}
.top-arrow{
  text-align: center;
}
.left-arrow{
  max-width: 400px;
  width: 100%;
}
.left-arrow:hover {
  opacity: 0.5;
}
.right-arrow{
  max-width: 400px;
  width:100%;
}
.right-arrow:hover {
  opacity: 0.5;
}
.card-text {
  font-size: 20px;
}
#sidebar{
  position: absolute;
}
}
@media (max-width: 576px){
.crypto-w {
  text-align: center;
  border: none;
  height: 125px;
  width: 100%;
  max-width: 500px;
}
}
